    
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">
<div class="w3-container">

<h3>Farm's Information</h3>

<button class="w3-btn w3-blue w3-ripple" ng-click="editFarm('new')">&#9998; Create A New Farm </button><br>
<table class="w3-table-all w3-hoverable" style="width:70%"><br>
  <tr>
    <th>Farm Name</th>
    <th>Farm Owner</th>
    <th>City</th>
    <th>State</th>
    <th>Number Of FarmWorkers In That Farm</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  <tr ng-repeat="farm in farms">
    <td>{{ farm.FarmName }} - {{$index}}</td>
    <td>{{ farm.FarmOwner }}</td>
    <td>{{ farm.FarmCity }}</td>
    <td>{{ farm.FarmState }}</td>
    <td>{{ farm.NumberOfFarmWorkers }}</td>
    <td>
      <button class="w3-btn w3-blue w3-ripple" ng-click="editFarm(farm.FarmID)">&#9998; Edit</button>
    </td>
    <td>
      <button class="w3-btn w3-blue w3-ripple" ng-click="removeFarm(farm.FarmID)">&#9998; Delete</button>
    </td>
  </tr>
</table>
<br>


<form ng-hide="hideform" style="width:30%">

        <ul>
            <li ng-repeat="message in messages" class="error-msg" >
			{{message}}
            </li>
	    </ul>

  <h3 ng-hide="createTitle" >Create A New Farm:</h3>
  <h3 ng-hide="editTitle">Edit The Farm:</h3>
    <label>Farm Name:</label>
    <input class="w3-input w3-border" type="text" ng-model="FarmName" ng-disabled="!edit" placeholder="Farm Name">
  <br>
    <label>Farm Owner:</label>
    <input class="w3-input w3-border" type="text" ng-model="FarmOwner" ng-disabled="!edit" placeholder="Farm Owners Name">
  <br>
    <label>Farm Address:</label>
    <input class="w3-input w3-border" type="text" ng-model="FarmHouseNumberStreetAddress" ng-disabled="!edit" placeholder="Farm Address">
  <br>
    <label>City:</label>
    <input class="w3-input w3-border" type="text" ng-model="FarmCity" ng-disabled="!edit" placeholder="City">
  <br>
    <label>State:</label>
    <input class="w3-input w3-border" type="text" ng-model="FarmState" ng-disabled="!edit" placeholder="State">
 <br>
    <label>Country:</label>
    <input class="w3-input w3-border" type="text" ng-model="FarmCountry" ng-disabled="!edit" placeholder="Country">
 <br>
    <label>Zip Code:</label>
    <input class="w3-input w3-border" type="text" ng-model="FarmZipCode" ng-disabled="!edit" placeholder="Zip Code">
 <br>
<input type=submit class="w3-btn w3-green w3-ripple" ng-disabled="error || incomplete" ng-click="saveFarm(farm.fid)" &#10004; value="Save Changes"/><br><br>
</form>

</div>
