body{ 
	padding-bottom:70px;
	padding-top: 40px;
	color:black;
}

div.content {
	min-height:400px;
}
.footer {
	padding-top:20px;
	padding-left:20px;
	background-color:#990000;
	border:0px;
	text-align: left;
	color:white;
}
.footer>a{
	color:white;
}

nav {
	padding-right:15px;
}

.landing {    
    padding-top:40px;
}

label {
	color:black;
}
div .register-section{
	padding: 30px 30px 30px 30px;
	border: 1px solid #dcdada;
}
label.form-check-inline{
	color: black;
	font-weight: normal;
}
landing label{
	
}
.required {
	color: red;
}
.error-msg {
	color:red;
}
landing > div.container{
	width: 100%;
	height: 100%;
	
}


.panel-landing {
	
	border: 0px;
}
.panel-landing-login label,
.panel-landing-login h3 {
	color:white;
	text-align: center;
}
.panel-landing-login {
	border-radius: 0px;
	margin: 20px;
	padding: 40px;
	background-color: rgba(0, 0, 0, 0.6);
}
.panel-landing-info {
	border-radius: 5px;
	margin: 40px;
	padding: 20px;
	background-color: rgba(255, 255, 255, 0.6);
	color:black;
	font-size:20px;
}
.panel-landing-language {
	padding: 5px;
	background-color: rgba(255, 255, 255, 0.6);
}
.brand-title {
	 color: white; 
	 font-family: 'Helvetica Neue', sans-serif; 
	 font-size: 46px; 
	 font-weight: 100; 
	 line-height: 50px; 
	 letter-spacing: 1px; 
	 padding: 0 0 40px; 
	 border-bottom: double #555;
	 text-shadow: 2px 2px #333
}
.text-bigger{
	font-size: 16px;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

.video-thumbnail {
 min-height: 180px;
 height: 180px;
}
section {
	margin-bottom:40px;
}

language-selector > div > a, 
language-selector > div > a:hover {
	text-decoration: none;
	color: black;
	font-weight: bold;
}
language-selector {
	color: black;
}

.thumbnail > img, .thumbnail a > img{
	width: 140px;
}