<div class="row">
	<div class="col-md-offset-4 col-md-4">
		<div class="input-group">
	      <input type="text" class="form-control" ng-model="$ctrl.searchKeyword" placeholder="Search for quizzes">
	      <div class="input-group-btn">
	      	<button type="button" class="btn btn-default" aria-label="Search">
	      		<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
	      	</button>
	      </div>
	    </div>
	</div>

</div>
<br/>
<div class="row">
	<div class="panel panel-default">
	  <!-- Default panel contents -->
	  <div class="panel-heading">Quizzes</div>
	  <div class="panel-body">
	    <p><b>Lorem Ipsum</b> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
	  </div>

	  <!-- List group -->
	  <ul class="list-group">
	    <li class="list-group-item" ng-repeat="quiz in $ctrl.displayedQuizList">
	    	<div class="row">
		    	<div class="col-xs-8">
		    	<p>
                            <strong>{{ quiz.QuizName }}<</strong>
					<span class="label label-danger" ng-if="quiz.IsActive === '0'">Inactive</span>
		    		<span class="label label-success" ng-if="quiz.IsActive === '1'">Active</span>
					<span class="label label-warning" ng-if="quiz.IsActive === '2'">Draft</span>
		    	</p>
		    	<p>{{ quiz.QuizDescription }}</p>
		   		</div>
		   		<button type="button" class="col-xs-3 btn" ng-click="$ctrl.takeQuiz(quiz)"  ng-class="quiz.IsTaken ? 'btn-success' : 'btn-danger'">
		   		{{ quiz.IsTaken ? quiz.Score + '%' : 'N/A' }}
		   		</button>
	   		</div>
	    </li>
	  </ul>
	</div>
</div>