<div class="row">
	<div class="col-md-offset-4 col-md-4">
		<div class="input-group">
	      <input type="text" class="form-control" ng-model="$ctrl.searchKeyword" placeholder="Search for videos">
	      <div class="input-group-btn">
	      	<button type="button" class="btn btn-default" aria-label="Search">
	      		<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
	      	</button>
	      </div>
	    </div>
	</div>

</div>
<br/>
<div class="row">
	<div class="panel panel-default">
	  <!-- Default panel contents -->
	  <div class="panel-heading">Videos</div>
	  <div class="panel-body">
	    <p><b>Lorem Ipsum</b> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
	    <div class="row">
	  		<div class="col-xs-12 col-sm-6 col-md-4" ng-repeat="video in $ctrl.displayedVideoList">
		    <div class="thumbnail video-thumbnail">
		      <a ng-href="#" ng-click="$ctrl.openVideo(video)"><img ng-src="https://i1.ytimg.com/vi/{{video.YoutubeId}}/0.jpg" alt="..."></a>
		      <div class="caption ">
		        <div class="row">
		        	<div class="col-xs-2">
		        			<button type="button" class="col-md-3 btn btn-circle btn-danger glyphicon glyphicon-thumbs-down"></button>
		        	</div>
		        	<div class="col-xs-8 text-center"><b>{{video.DescriptionEducationalContent}}</b></div>
		        	<div class="col-xs-2">
		        		<button type="button" class="col-md-3 btn btn-circle btn-success glyphicon glyphicon-thumbs-up"></button>
		        	</div>
		        </div>
		      </div>
		    </div>
		  </div>
	    </div>
	  </div>
	  
	</div>
</div>